<h1>ToDoカテゴリー作成</h1>
<%= form_tag("/categories/create") do %>
    <label for="category">カテゴリー名</label>
    <input id="category" type="text"　placeholder="Meeting" name="kind">
    <input type="submit" value="作成">
<% end %>